<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li class="task-list">
      <% check = task.completed ? "fas fa-check" : "far fa-square" %>
      <i class="<%= check %>"></i>
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task), method: :delete,
      data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>

</ul>
<%= link_to "+ Add a new task", new_task_path %>
